
body {
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    margin: 0px;
}

* {
    font-weight: 400;
}

:root {
    --header-font:
    'Yeseva One', Times, serif;
}

main {
    max-width: 1440px;
}

.header {
    background: #131313;
}

.container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 83px;
    width: 1256px;
    margin: 0 auto;
}


.navigation {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-items {
    margin: 0 auto;
    
}

.logo {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    text-transform: uppercase;
    color: #E3B873;
}

.tel {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    text-align: right;
    text-decoration-line: underline;
    color: #E3B873;
}

.nav-items {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.header-navigation-items a {
    text-decoration: none;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    color: #FFFFFF;
    margin-right: 47px;
}

.header-navigation-items a:hover {
    color: #E3B873;
}

.header-button {
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    padding: 13px 33px;
    outline: 0;
    border: 0;
    color: white;
    cursor: pointer;
    font-style: italic;
    height: 37px;
    width: 161px;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
    text-transform: uppercase;
    margin-left:45px;
}

.button1 {
    font-family: 'Nunito Sans';
    font-style: italic;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
    color: #FFFFFF;
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    padding: 18px 45px;
    outline: 0;
    border: 0;
    cursor: pointer;
}

.main-section {
    background: url(../images/image\ 4.3.jpg) rgba(0, 0, 0, 0.7);
    height: 707px;
    background-size:cover;
    background-blend-mode: multiply;
}

.hrostov {
    margin: 0 auto;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 53px;
    text-transform: uppercase;
    color: #FFFFFF;
    height: 102px;
}

.rostov {
    color: #E3B873;
}

.p1 {
    font-weight: 400;
    font-size: 22px;
    line-height: 36px;
    color: #FFFFFF;
    margin-bottom: 26px;

}

.button_empty {
    border: 1px solid #FFFFFF;
    border-radius: 2px;
    padding: 17px 28px;
    outline: 0;
    background-color: transparent;
    background-repeat: no-repeat;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    color: #FFFFFF;
    margin-left: 20px;
    font-family: 'Nunito Sans';
    font-style: italic;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
}

.main-container {
    padding-left: 134px;
    padding-top: 191px;
    width: 600px;
}

.slider-section {
    height: 448px;
    max-width: 1440px;
    background-size: cover;
    background: #131313;
    margin: 0 auto;
    display: block;
    justify-content: center;
    padding: 107px 134.55px;
}

.hero-content {
    display: flex;
    flex-direction: row-reverse;
}

.navslider {
    margin: 0;
    display: flex;
    justify-content: flex-end;
    list-style: none;
    padding-bottom: 50px;
}

.section-text-content {
    margin-right: 55px;
}

.slide a {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.3);
    margin: 3px 59px 0px 0px;
    text-decoration: none;
}

.slide a:hover {
color: #E3B873;
text-decoration: underline;
text-decoration-color: #E3B873;
text-underline-offset: 10px;
}

.h2hero {
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 37px;
    letter-spacing: -0.07em;
    text-transform: uppercase;
    color: #E3B873;
    font-family: 'Yeseva One';
    margin: 0 auto;
    margin-bottom: 23px;
}

.p2 {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400px;
    font-size: 14px;
    line-height: 27px;
    color: #FFFFFF;
    margin: 0 auto;
    margin-bottom: 30px;
}

.hhero {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #E3B873;
    margin-bottom: 5px;
}

.spanhero {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    color: #FFFFFF;
}

.hero-content2 {
    display: grid;
    grid-template-columns: 190px auto;
    grid-template-rows: 109px 100px;
    margin: 0 auto;
}

.arrownav {
    margin: 0 auto;
    padding-top: 53px;
}

.content-box {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.half-background {
    background: linear-gradient( #131313 62%, white 38%);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.online-control {
    margin-top: 88px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 12px;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    font-family: 'Yeseva One';
    font-style: normal;

}

.img-camera {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 33px;
}

.camera-line {
    margin: 8px;
    width: 30px;
    border: none;
    border-top: solid 1.5px #E3B873;
}

.video-content {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.video-content {
position: relative;
margin-bottom: 55px;
}

.play-img {
    position: absolute;
    bottom: 140px;
}

.video-img {
    filter: brightness(25%);
}

.afterline {
    width: 55px;
	height: 0;
	border: none;
	border-top: 1px solid #E3B873;
    margin-bottom: 20px;
}

.text-video {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-size: 18px;
    line-height: 37px;
    text-align: center;
    margin: 9px 394px 78px;
}

.grid-form {
    display: grid;
    grid-template-rows: 55px 85px;
    grid-template-columns: 233px 233px 200px;
    column-gap: 50px;
    width: fit-content;
    margin: auto;
}

.name-input {
    display: flex;
    flex-direction: column;
}

.name-input label {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    color: rgba(54, 54, 54, 0.5);
}

.name-input input {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    outline: none;
    color: #363636;
    border-bottom: 40px;
    border: none;
    border-bottom: 1px solid rgba(54, 54, 54, 0.3);
}

.tel-input {
    display: flex;
    flex-direction: column;
}

.tel-input label {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    color: rgba(54, 54, 54, 0.5);
}

.tel-input input {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-size: 14px;
    line-height: 23px;
    color: #363636;
    outline: none;
    border: none;
    border-bottom: 1px solid rgba(54, 54, 54, 0.3);
    
}

.button-form {
    grid-column: 3;
    grid-row: 1;
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    outline: 0;
    border: 0;
    color: white;
    cursor: pointer;
    font-style: normal;
    height: 51px;
    width: 200px;
    font-size: 13px;
    line-height: 23px;
    text-align: center;
    text-transform: uppercase;
}

.personal-data-checkbox {
    grid-column: 1 / 4;
    grid-row: 2;
    margin: auto;
}

.center {
    display: flex;
    justify-content: center;
}

.personal-data-checkbox input {
    border-radius: 1px;
    appearance: none;
    width: 18px;
    height: 18px;
    background-color: #E3B873;
    margin-right: 10px;
}

.personal-data-checkbox input:checked {
    background: #E3B873 url(../images/Vector\ —\ копия.png) no-repeat;
    background-position: 50% 50%;
}

.personal-data-checkbox label {
    font-size: 14px;
    font-family: 'Nunito Sans';
    font-style: normal;
    line-height: 23px;
    color: #131313;
    
}    
