
body {
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    margin: 0 auto
}

* {
    font-weight: 400;
}

:root {
    --header-font:
    'Yeseva One', Times, serif;
}

.header {
    background: #131313;
    height: 83px;
    display: flex;
    justify-content: center;
}

.container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1256px;
    margin: 0 auto;
}

.contacts-header {
    display: flex;
    align-items: center;
}


.navigation {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-items {
    margin: 0 auto;
    
}

.logo {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    text-transform: uppercase;
    color: #E3B873;
}

.tel {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    text-align: right;
    text-decoration-line: underline;
    color: #E3B873;
}

.nav-items {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.header-navigation-items a {
    text-decoration: none;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    color: #FFFFFF;
    margin-right: 47px;
}

.header-navigation-items a:hover {
    color: #E3B873;
}

.header-button {
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    padding: 13px 33px;
    outline: 0;
    border: 0;
    color: white;
    cursor: pointer;
    font-style: italic;
    height: 37px;
    width: 161px;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
    text-transform: uppercase;
    margin-left:45px;
}

.button1 {
    font-family: 'Nunito Sans';
    font-style: italic;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
    color: #FFFFFF;
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    padding: 18px 45px;
    outline: 0;
    border: 0;
    cursor: pointer;
}

.main-section {
    background: url(../images/image\ 4.3.jpg) rgba(0, 0, 0, 0.7);
    height: 707px;
    background-size:cover;
    background-blend-mode: multiply;
}

.hrostov {
    margin: 0 auto;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 53px;
    text-transform: uppercase;
    color: #FFFFFF;
    height: 102px;
}

.rostov {
    color: #E3B873;
}

.p1 {
    font-weight: 400;
    font-size: 22px;
    line-height: 36px;
    color: #FFFFFF;
    margin-bottom: 26px;

}

.button_empty {
    border: 1px solid #FFFFFF;
    border-radius: 2px;
    padding: 17px 28px;
    outline: 0;
    background-color: transparent;
    background-repeat: no-repeat;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    color: #FFFFFF;
    margin-left: 20px;
    font-family: 'Nunito Sans';
    font-style: italic;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
}

.main-container {
    padding-left: 134px;
    padding-top: 191px;
    width: 600px;
}

.slider-section {
    height: 448px;
    max-width: 1440px;
    background-size: cover;
    background: #131313;
    margin: 0 auto;
    display: block;
    justify-content: center;
    padding: 107px 134.55px;
}

.hero-content {
    display: flex;
    flex-direction: row-reverse;
}

.navslider {
    margin: 0;
    display: flex;
    justify-content: flex-end;
    list-style: none;
    padding-bottom: 50px;
}

.section-text-content {
    margin-right: 55px;
}

.slide a {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.3);
    margin: 3px 59px 0px 0px;
    text-decoration: none;
}

.slide a:hover {
color: #E3B873;
text-decoration: underline;
text-decoration-color: #E3B873;
text-underline-offset: 10px;
}

.h2hero {
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 37px;
    letter-spacing: -0.07em;
    text-transform: uppercase;
    color: #E3B873;
    font-family: 'Yeseva One';
    margin: 0 auto;
    margin-bottom: 23px;
}

.p2 {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400px;
    font-size: 14px;
    line-height: 27px;
    color: #FFFFFF;
    margin: 0 auto;
    margin-bottom: 30px;
}

.hhero {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #E3B873;
    margin-bottom: 5px;
}

.spanhero {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    color: #FFFFFF;
}

.hero-content2 {
    display: grid;
    grid-template-columns: 190px auto;
    grid-template-rows: 109px 100px;
    margin: 0 auto;
}

.arrownav {
    margin: 0 auto;
    padding-top: 53px;
}

.content-box {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.half-background {
    background: linear-gradient( #131313 62%, white 38%);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.online-control {
    margin-top: 88px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 12px;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    font-family: 'Yeseva One';
    font-style: normal;

}

.img-camera {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 33px;
}

.camera-line {
    margin: 8px;
    width: 30px;
    border: none;
    border-top: solid 1.5px #E3B873;
}

.video-content {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.video-content {
position: relative;
margin-bottom: 55px;
}

.play-img {
    position: absolute;
    bottom: 140px;
}

.video-img {
    filter: brightness(25%);
}

.afterline {
    width: 55px;
	height: 0;
	border: none;
	border-top: 1px solid #E3B873;
    margin-bottom: 20px;
}

.text-video {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-size: 18px;
    line-height: 37px;
    text-align: center;
    margin: 9px 394px 78px;
}

.grid-form {
    display: grid;
    grid-template-rows: 55px 85px;
    grid-template-columns: 233px 233px 200px;
    column-gap: 50px;
    width: fit-content;
    margin: auto;
    margin-bottom: 20px;
}

.name-input {
    display: flex;
    flex-direction: column;
}

.name-input label {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    color: rgba(54, 54, 54, 0.5);
}

.name-input input {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    outline: none;
    color: #363636;
    border-bottom: 40px;
    border: none;
    border-bottom: 1px solid rgba(54, 54, 54, 0.3);
}

.tel-input {
    display: flex;
    flex-direction: column;
}

.tel-input label {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    color: rgba(54, 54, 54, 0.5);
}

.tel-input input {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-size: 14px;
    line-height: 23px;
    color: #363636;
    outline: none;
    border: none;
    border-bottom: 1px solid rgba(54, 54, 54, 0.3);
    
}

.button-form {
    grid-column: 3;
    grid-row: 1;
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    outline: 0;
    border: 0;
    color: white;
    cursor: pointer;
    font-style: normal;
    height: 51px;
    width: 200px;
    font-size: 13px;
    line-height: 23px;
    text-align: center;
    text-transform: uppercase;
}

.personal-data-checkbox {
    grid-column: 1 / 4;
    grid-row: 2;
    margin: auto;
}

.center {
    display: flex;
    justify-content: center;
}

.personal-data-checkbox input {
    border-radius: 1px;
    appearance: none;
    width: 18px;
    height: 18px;
    background-color: #E3B873;
    margin-right: 10px;
}

.personal-data-checkbox input:checked {
    background: #E3B873 url(../images/Vectorgalka.png) no-repeat;
    background-position: 50% 50%;
}

.personal-data-checkbox label {
    font-size: 14px;
    font-family: 'Nunito Sans';
    font-style: normal;
    line-height: 23px;
    color: #131313;
    
}    

.repair-content-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 20px;
}

.repair-header {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #181818;
    margin-bottom: 10px;
}

.instrument {
    display: flex;
    align-items: center;
    margin-bottom: 31px;
}

.types-of-repair {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.list {
    background-color: white;
    position: relative;
    width: 330px;
    height: 286px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
    z-index: 1;
    margin-bottom: -27px;
}

.list-img {
    margin-bottom: -127px;
}

.list-head {
    font-family: 'Yeseva One';
    font-style: normal;
    font-size: 18px;
    line-height: 25px;
    color: #363636;
    padding-left: 34px;
    padding-top: 18px;
    margin: 0 auto;
}

.list-items {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-size: 13px;
    line-height: 27px;
    color: #959595;
    padding-left: 43px;
    margin-top: 8px;
}

.button-list {
    font-family: 'Yeseva One';
    font-style: normal;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #FFFFFF;
    z-index: 2;
    position: relative;
    background-color:#E3B873 ;
    border: none;
    width: 228px;
    height: 54px;
    margin-left: 32px;
    border-radius: 2px;
    cursor: pointer;
}

.request-section {
    width: 100%;
    margin-bottom: 242px;
}

.request-form-container {
    display: flex;
    align-items: center;
    margin: 0 auto;
    gap: 105px;
    margin-bottom: -14px;
}

.request-items-container {
    background: url(../images/image\ 6.1.jpg) no-repeat;
    
}

.req-item {
    margin-top: 47px;
    margin-bottom: 53px;
    margin-left: 302px;
    display: flex;
    align-items: center;
}

.point-paragraf {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-size: 14px;
    line-height: 19px;
    color: #363636;
}

.point {
    width: 25px;
    height: 25px;
    padding: 8px;
    content: counter(step-counter, decimal-leading-zero);
    margin-right: 9px;
    background: #E3B873;
    border: 8px solid #FFFFFF;
    box-shadow: 0px 5px 15px rgb(227 184 115 / 15%);
    border-radius: 30px;
    font-family: var(--header-font);
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
}

.request-form {
    background-color: #131313;
    width: 506px;
    height: 509px;
    margin-top: 20px;
}

.form-name {
    margin-bottom: 32px;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 28px;
}

.input-container {
    display: block;
    margin-left: 48px;
    margin-right: 50px;
}

.req-name-input {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.req-name-input label {
    font-size: 14px;
    font-family: 'Nunito Sans';
    font-style: normal;
    line-height: 23px;
    color: rgba(255, 255, 255, 0.5);
}

.req-name-input input {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    outline: none;
    color: #363636;
    border-bottom: 40px;
    border: none;
    border-bottom: 1px solid rgba(54, 54, 54, 0.3);
    background-color: #131313 ;
}

.req-tel-input {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.req-tel-input label {
    font-size: 14px;
    font-family: 'Nunito Sans';
    font-style: normal;
    line-height: 23px;
    color: rgba(255, 255, 255, 0.5);
}

.req-tel-input input {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    outline: none;
    color: #363636;
    border-bottom: 40px;
    border: none;
    border-bottom: 1px solid rgba(54, 54, 54, 0.3);
    background-color: #131313 ;
}

.req-mail-input {
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
}

.req-mail-input label {
    font-size: 14px;
    font-family: 'Nunito Sans';
    font-style: normal;
    line-height: 23px;
    color: rgba(255, 255, 255, 0.5);
}

.req-mail-input input {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    outline: none;
    color: #363636;
    border-bottom: 40px;
    border: none;
    border-bottom: 1px solid rgba(54, 54, 54, 0.3);
    background-color: #131313 ;
}

.check {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 36px;
}

.req-personal-data-checkbox input {
    border-radius: 1px;
    appearance: none;
    width: 18px;
    height: 18px;
    background-color: #E3B873;
    margin-right: 10px;
}

.req-personal-data-checkbox label {
    font-size: 14px;
    font-family: 'Nunito Sans';
    font-style: normal;
    line-height: 23px;
    color: rgba(255, 255, 255, 0.5);
}

.req-personal-data-checkbox input:checked {
    background: #E3B873 url(../images/Vectorgalka.png) no-repeat;
    background-position: 50% 50%;
}

.req-button-form {
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    outline: 0;
    border: 0;
    color: white;
    cursor: pointer;
    font-style: normal;
    height: 51px;
    width: 213px;
    font-size: 13px;
    line-height: 23px;
    text-align: center;
    text-transform: uppercase;
    margin-left: 195px;
}

.pig-coin {
    display: flex;
    justify-content: flex-end;
    margin-right: 270px;
}

.pig-text  {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-size: 18px;
    line-height: 26px;
    color: #E3B873;
    text-shadow: 0px 3px 10px rgba(227, 184, 115, 0.15);
    padding-top: 3px;
}

.style-section {
    background: url(../images/image\ 5.1.png), linear-gradient(109.8deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0.9) 100%);
    background-blend-mode: multiply;
    background-size: cover;
    height: 864px;
    margin-bottom: 110px;
}

.style-container-size {
    display: flex;
    justify-content: space-around;
}

.list-style {
    display: flex;
    flex-direction: column;
    width: 411px;
}

.h-style {
    font-family: 'Yeseva One';
    font-style: normal;
    font-size: 27px;
    line-height: 37px;
    text-transform: uppercase;
    color: #E3B873;
    margin-top: 137px;
    margin-left: 99px;
}

.style-list-items {
    list-style: none;
    margin-left: 60px;
}

.style-list-items a {
    text-decoration: none;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-size: 20px;
    line-height: 47px;
    color: #FFFFFF;
}

.style-list-items a:hover {
    color: #E3B873;
    text-decoration: underline;
    text-decoration-color: #E3B873;
    text-underline-offset: 10px;
}

.s1-images {
    display: flex;
    flex-direction: column;
    max-height: 1020px;
    gap: 40px;
    position: relative;
    top: -41px;
    width: fit-content;
    margin-right: -65px;
}

.s2-images {
    display: flex;
    flex-direction: column;
    max-height: 1020px;
    gap: 40px;
    position: relative;
    top: -112px;
    width: fit-content;
    padding-right: 60px;
}

.client-content-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 100px;
    margin-right: 100px;
}

.client-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.client-header-head {
    font-family: 'Yeseva One';
    font-style: normal;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #181818;
}

.hands-flex {
    display: flex;
    align-items: center;
}

.hands-line {
    margin: 8px;
    width: 30px;
    border: none;
    border-top: solid 1.5px #E3B873;
}

.header-text {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-size: 18px;
    line-height: 29px;
    text-align: center;
    color: #363636;
}

.customers {
    display: flex;
    justify-content: center;
    gap: 54px;
}

.customer-box {
    background: #FFFFFF;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.04);
    width: 376px;
    height: 428px;
}

.customer-text-area {
    padding: 13.6px 32px 90px 20px;
}

.customer-header {
    display: flex;
    align-items: center;
    margin-bottom: 22px;
}

.customer-name {
    padding-left: 23px;
    font-family: 'Yeseva One';
    font-style: normal;
    font-size: 18px;
    line-height: 23px;
    color: #181818;

}

.customer-text {
    font-family: 'Nunito Sans';
    font-size: 13px;
    line-height: 180%;
    color: #959595;
}

.like-a-button {
    background-color: #E3B873;
    box-shadow: 5px 5px 20px rgba(227, 184, 115, 0.5);
    height: 54px;
    padding-left: 17px;
    padding-right: 17px;
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 293.75px;
    margin-top: -42px;
}

.vertical-line {
    margin-left: 12px;
    margin-right: 12px;
    border: 0.75px solid #FFFFFF;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}

.value {
    margin-left: 12px;
    vertical-align: middle;
    font-family: var(--header-font);
    font-size: 17px;
    line-height: 24px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.last-section::before,.last-section::after {
    content: "";
    position: absolute;
    top: -405px;
    width: 50%;
    height: 1130px;
    z-index: -1;
    background-image: url('../images/halfcity.png');
}

.last-section::before {
    right: 50%;
}

.last-section::after {
    left: 50%;
    transform: scaleX(-1);
}

.last-section {
    padding-top: 132px;
    padding-bottom: 66px;
    background: url('../images/darkcity.jpg'), linear-gradient(180deg, rgba(24, 24, 24, 0.9) 3.47%, rgba(24, 24, 24, 0.72) 100%);
    background-repeat: no-repeat, no-repeat;
    background-position-y: 355px, 355px;
    background-size: contain;
    background-blend-mode: color-burn;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-form {
    background-color: #181818;
    width: 883px;
    height: 445.32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.form-container {
    width: 520px;
}

.flex-contact {
    display: flex;
}

.contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-text {
    font-family: 'Yeseva One';
    font-style: normal;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #E3B873;
}

.contact-form-name {
    font-family: 'Yeseva One';
    font-style: normal;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 31px;
    margin-bottom: 43px;
}

.con-name-input {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    padding-right: 58px;
}

.con-name-input label {
    font-size: 13px;
    font-family: 'Nunito Sans';
    font-style: normal;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.5);
}

.con-name-input input {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-size: 14px;
    line-height: 23px;
    outline: none;
    color: #FFFFFF;
    border-bottom: 40px;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    background: transparent;
    width: 225px;
}

.con-tel-input {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.con-tel-input label {
    font-size: 13px;
    font-family: 'Nunito Sans';
    font-style: normal;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.5);
}

.con-tel-input input {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-size: 14px;
    line-height: 23px;
    outline: none;
    color: #FFFFFF;
    border-bottom: 40px;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    background: transparent;
    width: 225px;
}

.con-questions-input {
    display: flex;
    flex-direction: column;
    margin-bottom: 45px;
    width: 100%;
}

.con-questions-input label {
    font-size: 13px;
    font-family: 'Nunito Sans';
    font-style: normal;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.5);
}

.con-questions-input input {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-size: 14px;
    line-height: 23px;
    outline: none;
    color: #FFFFFF;
    border-bottom: 40px;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    background: transparent;
}

.check-form {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 45px;
}

.con-personal-data-checkbox input {
    border-radius: 1px;
    appearance: none;
    width: 18px;
    height: 18px;
    background-color: #E3B873;
    margin-right: 10px;
}

.con-personal-data-checkbox label {
    font-size: 14px;
    font-family: 'Nunito Sans';
    font-style: normal;
    line-height: 23px;
    color: #FFFFFF;
}

.con-personal-data-checkbox input:checked {
    background: #E3B873 url(../images/Vectorgalka.png) no-repeat;
    background-position: 50% 50%;
}

.con-button-form {
    background: #E3B873;
    box-shadow: 0px 5px 20px rgba(227, 184, 115, 0.1);
    font-family: 'Nunito Sans';
    font-style: normal;
    font-size: 13px;
    line-height: 27px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 200px;
    height: 51px;
    border: none;
}

.icons {
    padding-bottom: 40px;
}

.mail-icon {
    margin-right: 15px;
}

.footer {
    background: #131313;
    height: 133px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-footer {
    display: flex;
}