body {
    background-image: url(../images/image046-45-scaled.jpeg);
    background-size: 100% 100%;
    font-size: 20px;
    margin: auto;
    display: flex;
    flex-direction: column;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h1 {
    color: rgb(109, 109, 109);
    font-size: 40px;
    margin: 70px 140px 35px;
    padding: 20px 70px ;
    background-color: rgba(135, 156, 175, 0.265);  
    font-family: 'Times New Roman', Times, serif 
}

.link {
    border-left: 12px solid chocolate;
    padding-left: 10px;
    color: gray;
    margin: 30px 0px 30px 15px;
    font-family: 'Times New Roman', Times, serif;
}
html {
    font-size: 25px ;
    font-style: normal;
}
.myphoto {
    border: 4px solid black;
    border-radius: 10%;
}
.buttons {
    display: flex;
    justify-content: center;
    font-size: 30px;
    background-color: gray;
    border-color: black;
    border-style: inset;
    top: 0px; 
    position: fixed;
    min-width: 100%;
    height: 50px;
    }
a.bu {
    text-decoration: none;
    color: black;
    }
    .main {
    margin: 0 auto;
    width: 1000px;
    }
    .footer {
        color: grey;
        display: flex;
        flex-direction: column;
    }
    .footer2 {
        display: flex;
        justify-content: space-around;
        align-content: center;

    }
    .mail {
        padding-right: 10px;
    }
    .tel {
        padding-right: 10px;
    }